$title: #31352B;
$accent: #63A60F;
$bg: #F6F6F6;
$main: #F5F5F5;
$default: #121212;
$white: #ffffff;


%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%ruda-600 {
  font-family: 'Ruda-SemiBold', sans-serif;
  font-weight: 600;
}

%ruda-900 {
  font-family: 'Ruda-Black', sans-serif;
  font-weight: 900;
}